<!DOCTYPE html>
<html>
  <head>
    <title>AirBnB Optimal Pricing - {{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic"/>
  </head>
  <body>
<!--    <nav>-->
<!--      <a href="/" class="brand"><span>Get Data</span></a>-->
<!--      <div class="menu">-->
<!--        <a href="/" class="button warning">Get Data</a>-->
<!--      </div>-->
<!--    </nav>-->

    <article class="flex two" style="padding: 3em 1em;">
      {% block content %}
        <h1>{{ output }}</h1>
      {% endblock %}
    </article>

  </body>
</html>